@import "../overlay.scss";


.tsel-modal-container {
  animation: slideInModal 200ms ease;
  outline: 0px;
  display: initial;
  
  z-index: 1;
}

.tsel-modal-paper {
  @extend .bg-white;
  @extend .p-20;
  border-radius: 20px 20px 0 0;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  margin: 0;
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  max-height: calc(100% - 64px);
  z-index: 1;
  height: 600px;
  position: fixed;
  bottom: -25px;

    &.size-xs {
      max-width: 320px;
    }
    &.size-sm {
      max-width: 400px;
    }
    &.size-md {
      max-width: 600px;
    }
    &.size-lg {
      max-width: 800px;
    }
    &.size-xl {
      max-width: 900px;
    }
}

.modal-paper-header{
  flex: 0 0 auto;
}

.modal-paper-content{
  flex: 1 1 auto;
  overflow-y: auto;
}

.modal-paper-footer{
  justify-content: flex-end;
  flex: 0 0 auto;
}

@media screen and (min-width: 600px) {
  .tsel-modal-container {
    height: 100%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: initial;
  bottom: initial;
  }



  .tsel-modal-paper{
    border-radius: 20px;
    margin: 0;
    height: initial;
    position: initial;
    bottom: initial;
  }
}
