@import '@styles/theme.scss';
@import '@styles/color.scss';
@import '@styles/spacing.scss';

.overlay{
    position: fixed;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    inset: 0px;
    -webkit-tap-highlight-color: transparent;
    z-index: 1;
    background-color: rgba(0, 26, 65, 0.8);
    animation: overlayModal 200ms ease;
}

.tsel-modal-wrapper{
    position: fixed;
    z-index: 1200;
    inset: 0px;
}

@keyframes overlayModal {
    from {
        background-color: rgba(0, 0, 0, 0.0);
    }
    to {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

@keyframes slideInModal {
    from {
        // bottom: -5%;
        translate: 0 5%;
    }
    to {
        // bottom: 0;
        translate: 0 0;
    }
}


@keyframes slideTop {
    from {
        top:0;
    }
    to {
        top:20px;
    }
}

@keyframes slideBottom {
    from {
        bottom:0;
    }
    to {
        bottom:20px;
    }
}

