@import "../overlay.scss";

.tsel-snackbar-wrapper {
	width: 100%;
  position: fixed;
	.tsel-snackbar-main {
		border-radius: 4px;
		display: flex;
		@extend .p-12; gap: 8px;
    max-width: 800px;
    margin: auto;
    align-items: center;
    &.box-primary{
      @extend .semantic-secondary700;
      color: #ffffff;
    }
    &.box-warning{
      @extend .semantic-warning500;
      @extend .txt-secondary700;
    }
		.snackbar-konten {
			flex-grow: 1;
		}
		.snackbar-action {
			cursor: pointer;
		}
	}
  &.pos-top {
    top: 20px;
    animation: slideTop 200ms ease;
  }
  &.pos-bottom{
    bottom: 20px;
    animation: slideBottom 200ms ease;
  }
}
