@import "../overlay.scss";

.tsel-callout-wrapper {
	width: 100%;
	.tsel-callout-main {
		border-radius: 4px;
		display: flex;
		@extend .p-12; gap: 8px;
    border: 1px solid transparent;
    align-items: baseline;
    &.box-primary{
      background-color: #E9F6FF;
      border: 1px solid #94CFF6;
    }
    &.box-warning{
      background-color: #FEF3D4;
      border: 1px solid #FED27F;
    }
		.callout-icon {
      .img-icon{
        max-width: 20px;
        height: auto;
      }
		}
		.callout-konten {
			flex-grow: 1;
		}
		.callout-action-right {
			cursor: pointer;
		}
	}
  &.fixed {
    position: fixed;
    top: 20px;
    left: 0;
    .tsel-callout-main {
      margin: auto;
      max-width: 600px;
    }
  }
}
